
/*
Theme Name: GVI
Description: Portal de vistorias imobiliária
Author: Jefferson Pereira
Version: 1.0
*/

*{margin: 0; padding: 0;}

#header{
	width: 100%; 
	background: #FFF;
}



/**** Estilo do Menu******/
#menu-top{
	margin-top: 60px;	
	width: 100%;
	height: 70px;
	background: #FF6666;		
	
	
}

/*zerando a margem e o padding da ul e tirando o efeito de lista*/
ul {

	list-style:none;
	margin:0;
	padding:0;
	
}

/*tornando a lista horizontal*/
li {
	display:inline-block;
	float: left;
	width: 20%;
}

/*Estilizando os links do menu*/
li a {		
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 25px;
	font-family: Verdana,"Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000;
	background: #FF6666;
	text-decoration: none;

}

/*tratando o efeito de hover, dos links do menu*/
li:hover a {
	color: #fff;
	text-decoration: none;
}

/*Estilizando os links do menu dropdown*/
li:hover ul a {
	background: #FF6666;
	color: #000;
	height: 40px;
	line-height: 40px;
}

/*tratando o efeito de hover, dos links do menu dropdown*/
li:hover ul a:hover {
	background: #FF6666;
	color: #fff;
	text-decoration: none;
}

/*Escodendo o menu dropdow até que se faça necessário*/
li ul {
	display: none;
}

/*fazendo com que o menu (li) dropdown, fique no formato vertical*/
li ul li {
	display: block;
	float: none;
	width: 100%;
}

/*Evitando a quebra de linha*/
li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
	text-align: left;
}

/*Tratando para que o menu dropdown apareça no evento de hover do link acima*/
ul li a:hover + .sub-menu, .sub-menu:hover {
	display: block;
}
/***********Responsividade****************/
/*Estilizando o botao que aparecerá quando a tela for menor que 760px,
para que possa acessar o menu*/
.show-menu {
	font-size: 25px;
	width: 100%;
	height: 50px;	
	font-family: Verdana,"Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #FF6666;
	text-align: center;
	display: none;
}

/*Escondendo o checkbox que controlará o as dimensões do menu*/
input[type=checkbox]{
	display: none;
	-webkit-appearance: none;
}

/*Deixando o botão de menu, quando o checkbox estiver maracado*/
input[type=checkbox]:checked ~ .menu-principal-container{
	display: block;
}


/*Estilo de responsividade do menu*/

@media screen and (max-width : 860px){
	/*Fazer que todos os links do botao fique inline*/
	.menu-principal-container{
		position: static;
		display: none;
	}
	/*ul {
		position: static;
		display: none;
	}*/
	/*Criando uma margem vertical entre os links*/
	li {
		margin-bottom: 1px;
	}
	/*Fazendo os links ocuparem a tela inteira*/
	ul li, li a {
		width: 100%;
		font-size: 16px !important;
	}
	/*Fazendo o botão de menu virar um link acessível*/
	.show-menu {
		display:block;
		font-size: 16px !important;
	}
	#menu-top{
		height: 50px;				
	}

}


/**** Fim do Estilo do Menu******/

/*********Slider-config*********/
#myCarousel{
	position: relative;
	z-index: 1;
}
/*Estilizando o ícone de configuração*/
#config{	
	margin-top: 30%;
	font-size: 30px;
	margin-right: -45%;
	width: 50%;
	height: 50px;
	background: #FF6666;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 2;
	border-radius:   10px 0px 0px 10px ;
	-moz-border-top-left:10px;
	-moz-border-bottom-left:10px;
	-webkit-border-top-left:10px;
	-webkit-border-bottom-left:10px;

}
/* Esilizando o link que vai ao lado direito do icone de configuração*/
#config span a{
	float: right;
	text-decoration: none;
}

#config span {
	width: 90%;
	text-decoration: none;

}
/*Formatar o icone de configuração no centro da div*/
#config-icon{
	width: 22px;
	height: 23px;
	margin-top: 10px;
	margin-left: 10px;

}
/*fazendo o icone de configuração estender-se para o meio da tela, abrindo um link*/
#config:hover {
	margin-right: 0%;
}
@media screen and (max-width : 860px){
	/*Estilizando o ícone de configuração, para telas menores que 760px*/
	#config{
		margin-top: 40% !important;
		font-size: 14px !important;	
		margin-right: -75% !important;
		width: 85% !important;
		height: 25px !important;
	}

	/*Formatar o icone de configuração no centro da div,para telas menores que 760px*/
	#config-icon{

		margin-top: 5px !important;
		margin-left: 5px !important;

	}
	/*fazendo o icone de configuração estender-se para o meio da tela, abrindo um link*/
	#config:hover {
		margin-right: 0% !important;
	}
}

@media screen and (min-width : 1600px){
	/*Estilizando o ícone de configuração, para telas menores que 760px*/
	#config{
		margin-top: 25% !important;
		
	}

	
}


/*********Fim do Slider*-config********/

/**** Estilo do corpo do conteudo******/
/* Estilizando a introdução acima dos detalhes*/
#intro{
	width: 100%;
	height: 300px;	
	background: #FF6666;	
}
#intro h1{
	text-align: center;
	color: #fff;   
	line-height: 150px;
}
#intro p{
	text-align: center;
	color: #fff;   
	font: 20px Verdana, Tahoma, Arial;

}
/* Estilizando a introdução acima dos detalhes,para tela menores que 860px e 240px; */
@media screen and (max-width : 860px){
	#intro{
		font: 18px Verdana, Tahoma, Arial;
		height: 100px !important;	
	}
	#intro p{
		line-height: 50px !important;
	}
	
}
@media screen and (max-width : 240px){
	#intro p{
		line-height: 25px !important;
	}
}
/* Fim do  estilo da introdução acima dos detalhes*/

/* Estilizando os detalhes*/

#detalhes{
	width: 30%;
	height: 90px;	
	background: white;
	margin-left: 35%;	
	margin-top: -50px;
	text-align: center;
	font: 20px Verdana, Tahoma, Arial;	
	border-bottom: 0px;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	font-weight: 700;
	
}

#detalhes::before{
	content: '';
	width: 35px;
	height: 38px;
	position: relative;
	left: -35px;
	top: 50px;
	background: #fff;
	display: block;
	background: url("shadow.png");
	/*-moz-box-shadow: 20px 20px 20px 20px;
	-webkit-box-shadow: 5px 0px 28px -7px #222222;*/
}
#detalhes::after{
	content: '';
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	transform: scaleX(-1);
	width: 35px;
	height: 38px;
	position: relative;
	right: -35px;
	float: right;
	top: 12px;
	display: block;
	background: url("shadow.png");
	
}
/* Estilizando os detalhes, para tela menores que 760px e 320px*/
@media screen and (max-width : 760px){
	#detalhes{
		width: 30%;
		height: 90px;	
		background: white;
		margin-left: 35%;	
		margin-top: -50px;
		text-align: center;
		font: 10px Verdana, Tahoma, Arial;	
		border-bottom: 0px;
		text-transform: uppercase;
		letter-spacing: 0.12em;
		font-weight: 700;

	}	
	#detalhes::before{
		content: '';
		width: 35px;
		height: 38px;
		position: relative;
		left: -35px;
		top: 50px;
		background: #fff;
		display: block;
		background: url("shadow.png");
	}
	
}
@media screen and (max-width : 320px){
	#detalhes::after{
		content: '';
		-moz-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		-ms-transform: scaleX(-1);
		transform: scaleX(-1);
		width: 35px;
		height: 38px;
		position: relative;
		right: -35px;
		float: right;
		top: 0px;
		display: block;
		background: url("shadow.png");

	}
}
/* Fim do estilo dos detalhes*/
/* Eslilizando cada bloco de detalhes*/
#bloco{
	margin-left: 5%;
	width: 90%;
	display: block;
	background: white;	
	
}

#detalhe-left{
	float: left;
	margin-top: 20px;
	margin-left: 5%;
	width: 45%;
	border-width: 0px 0px 2px 0px;
	border-style: solid;	
	border-color: #C0C0C0 ;
}

.icon h3{

	
	line-height: 75px;
	margin-top: 0;
	margin-left: 10%;
	float: left;
}

#detalhe-left p{
	margin-left: 25%;
	margin-right: 10%;
	margin-bottom: 50px;
	text-align: justify;	
	float: right;
	
}




.icon::before {
	content: '';
	position: relative;
	background: #000;
	left: 0;
	width: 75px;
	height: 75px;
	line-height: 75px;
	display: block;
	float: left;
	-webkit-border-radius:50%;
	
}
.suporte:before{	
	content: url('icon/suporte.png');	 
	text-align: center;
	font-size: 60px;

}
.sinc:before{	
	content: url('icon/sinc.png');	 
	text-align: center;
	font-size: 60px;
}
.vist:before{	
	content: url('icon/vist.png');	 
	text-align: center;
	font-size: 60px;
}
.adm:before{	
	content: url('icon/adm.png');	 
	text-align: center;
	font-size: 60px;
}
.portal:before{	
	content: url('icon/portal.png');	 
	text-align: center;
	font-size: 50px;
}

/* Eslilizando cada bloco de detalhes, para telas menores que 1280px e 550px*/
@media screen and (max-width : 1280px){
	#bloco{
		margin-left: 5%;
		width: 90%;
		display: block;
		background: white;
	}

	#detalhe-left{
		float: left;
		margin-top: 20px;
		margin-left: 0% !important;
		width: 100% !important;
		border-width: 0px 0px 2px 0px;
		border-style: solid;	
		border-color: #C0C0C0 ;
	}

}
@media screen and (max-width: 550px){

	.icon h3{

		font-size: 16px !important;
		
	}

	#detalhe-left p{
		font-size: 14px !important;

	}

	.icon::before {
		content: '';
		position: relative;
		background: #000;
		left: 0;
		width: 50px;
		height: 50px;
		line-height: 50px;
		display: block;
		float: left;
		-webkit-border-radius:50%;

	}
	.suporte:before{			
		content: url('icon/suporte.png');	 
		font-size: 30px !important;
	}
	.sinc:before{			
		content: url('icon/sinc.png');	 
		font-size: 30px !important;
	}
	.vist:before{			
		content: url('icon/vist.png');	 
		font-size: 30px !important;
	}
	.adm:before{	
		content: url('icon/adm.png');	 
		font-size: 30px !important;
	}
	.portal:before{	
		content: url('icon/portal.png');	 
		font-size: 25px !important;
	}

}
/* Fim do Eslilo dos blocos de detalhes*/

/**** Fim do Estilo do corpo do conteudo******/

/***********************Footer******************************/
footer{
	

}
#contato{
	width: 30%;
	height: 90px;	
	background: black;
	margin-left: 35%;	
	margin-top: -50px;
	text-align: center;
	font: 20px Verdana, Tahoma, Arial;	
	border-bottom: 0px;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	font-weight: 700;
	position: absolute;
	z-index: 2;
}
#footer-content{

	overflow: hidden;
	width: 100%;
	background: black;
	color: white;


}
#footer-content h2{
	margin-top: 150px;
	text-align: center;
}
#footer-content h4{
	text-align: center;
}
#footer-mensagem{
	float: left;
}
#footer-contato{
	float: left;
}
/******************Fime do Footer***************************/